.tag-container {
    background-color: white;
    padding: 0;
    border-radius: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}


.tag {
    
    display:inline-flex;
    background-color: #0d5710;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}


