body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
}
input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 5px;
}
.input-icon {
  position: relative;
  width: 100%;
}

.input-icon input {
  padding-right: 30px;
}

.input-icon i {
  position: absolute;
  top: -4px;
  right: 96px;
  font-size: 18px;
  padding: 10px;
}
.input-key {
  position: relative;
  width: 100%;
}

.input-key input {
  padding-right: 30px;
}

.input-key i {
  position: absolute;
  top: -4px;
  right: 96px;
  font-size: 18px;
  padding: 10px;
}
button {
  padding: 30px;
  background-color: #ff4444;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  float:right;
  margin-top: -92px;
  
}
button:hover {
  background-color: #ff3333;
}